$--dark-100: rgba(31, 32, 65, 1);
$--dark-75: rgba(31, 32, 65, 0.75);
$--dark-50: rgba(31, 32, 65, 0.50);
$--dark-25: rgba(31, 32, 65, 0.25);
$--dark-5: rgba(31, 32, 65, 0.05);

$--dark-100: #1F2041;
$--primary-color: #BC9CFF;
$--secondary-color: #6FCF97;